
@import url('https://rsms.me/inter/inter.css');

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #000;
  color: white;
  overflow: hidden;
  font-weight: 400;

  font-variant-numeric: slashed-zero;
  -moz-font-feature-settings: "zero" on;
  -webkit-font-feature-settings: "zero" on;
  font-feature-settings: "zero" on;
}

.app-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
